.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup__state-open {
  display: flex;
}

.popup__content {
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__hide-btn {
  background-image: url("../../images/popup-hide.svg");
  background-color: transparent;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__hide-btn:hover {
  opacity: .5;
  transition: .5s;
}

.popup__hide-btn:focus {
  outline: none;
}

.popup__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1A1B22;
  margin-bottom: 1.5rem;
}

.popup__label {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
  margin-bottom: 10px;
}

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 2rem;
  padding: 0;
}

.popup__input:last-of-type {
  margin-bottom: 2.5rem;
}

.popup__error {
  position: absolute;
  left: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

.popup__error_type-email {
  top: 55px;
}

.popup__error_type-pass {
  top: 140px;
}

.popup__error_type-name {
  top: 220px;
}

.popup__error_type-server {
  font-size: 11px;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.popup__input:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: .5s;
}

.popup__btn {
  margin-bottom: 1rem;
  position: relative;
}

.popup__text {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2F71E5;
  cursor: pointer;
}

.popup__link:hover {
  opacity: .5;
  transition: .5s;
}

@media screen and (max-width: 520px) {
  .popup {
    padding-top: 10%;
  }
  .popup__content {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .popup__hide-btn {
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    right: 10px;
    top: -30px;
  }
}

@media screen and (max-width: 360px) {
  .popup__error {
    font-size: 10px;
  }
}
